
@{
    Layout = Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Contact</title>
</head>
<body>
    <div style="width:100%;float:left;"> 
        <table style="width:30%;float:left">
            <tr>
                <td style="font-size: 3rem;font-weight: 700;color: #643794;margin-bottom: 2em;">
                    GIREE SOFTWARE
                </td>
            </tr>
            <tr><td><h3 style="float:left">India</h3><img title="India" style="height:40px;width:40px" src="~/Content/Images/icon.png" /></td>
            </tr>
            <tr><td><hr style="font-weight:100;margin-top:5px;margin-bottom:10px;"/></td></tr>
            <tr><td>
                    3rd & 4th Floor, Tower B,<br />
                    Amin Properties LLP SEZ,<br />
                    Survey Number 19, 20, 20/1 Pujanahalli Village,<br />
                    Devanahalli Taluk,<br/>
                    Bangalore Rural - 562 110, Karnataka (India) 
                </td></tr>
        </table>
        @*Google Map*@
        <table style="margin-left:100px !important;">
            <tr>
                <td>

                </td>
            </tr>
        </table>
    </div>
</body>
</html>
